.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:20px;
}
.card{
    width:calc(33% - 10px);
    height:560px;
    border-radius: 4px;
    box-shadow: var(--box_shadow_secondary);
}
