.pill,.primary,.secondary,.tertiary,.transparent{
    display: inline-block;
    font-size: 14px;
    padding: 4px;
    color:white;
    border-radius: 4px;
    margin:4px;
    height: fit-content;
}
.primary{
    background-color: rgb(22, 179, 61);;
    color:rgb(252, 252, 252);
}
.secondary{
    background-color: rgb(226, 62, 62);
    color:rgb(255, 255, 255);
}
.tertiary{
    background-color: rgb(75, 75, 75);
    color:white;
}
.transparent{
    background-color: rgba(0,0,0,0);
    color:white;
}