.modal_parent,.hide_modal_parent{
    width:100%;
    height:100vh;
    position:fixed;
    top:0px;
    left:0;
    z-index:1;
    transition: top 0.2s;
}
.show_modal{
    width:90%;
    height:100%;
    margin:auto;
    margin-top: 80px;
    border-radius: 10px;
    background-color: rgb(17, 17, 17);
    border-radius: 8px;
    box-shadow: var(--box_shadow_secondary);
    max-height:80vh;
    overflow: scroll;
    padding:20px;
}
.show_modal::-webkit-scrollbar {
    display: none;
  }
  
.hide_modal_parent{
    top:-200vh;
}