.label{
    font-size:16px;
    color:rgb(199, 199, 199);
}
.input,.normal_input{
    width:300px;
    padding:10px 14px;
    color:rgb(218, 218, 218);
    background-color: rgb(34, 34, 34);
    outline: none;
    border:1px solid rgba(255, 255, 255, 0);
    font-size:16px;
    border-bottom: 1px solid rgba(111, 141, 224, 0.404);
    transition:border-bottom 0.1s;
}

.normal_input{
    width:calc(300px - 30px)
}


.input:focus,.normal_input:focus{
    border-bottom: 1px solid rgb(111, 141, 224);
}

.form{
    padding:10px;
    display: flex;
    align-items:center;
    gap:20px;
    flex-wrap: wrap;
}
.submit{
    margin-top:10px;
}
.error_text{
    color:rgb(252, 106, 106);
    font-size:14px;
}