.flex{
    display: flex;
    padding:20px;
    justify-content: space-between;
}
@keyframes example {
    from {color:rgb(110, 110, 110);}
    to {color:  rgb(226, 226, 226);}
  }
.welcome_text {
    display: flex;
    justify-content: center;
    align-items: center;
    width:50%;
    height:inherit;
    font-size:28px;
    color:rgb(202, 202, 202);
    text-align: center;
    animation-name: example;
    animation-duration: 1s;
}

  
.center{
    height:550px;
    margin-top:30px;
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.h1{
    font-weight: 600;
}
.h4{
    color:rgb(190, 190, 190);
    font-weight:500;
}
.how_does_it_work{
    color:rgb(202, 202, 202);
    text-align: center;
    animation-name: example;
    animation-duration: 1s;
    font-size: 24px;
}
.galary{
    width:92%;
    margin-left:4%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:30px;
}

.galary >*{
    width:40%;
    padding:30px;
    background-color: rgb(22, 22, 22);
    border-radius: 8px;
    box-shadow: 0 0 10px 10px rgba(10, 10, 10, 0.226);
}